<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-yidun-alive-detect" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-yidun-alive-detect</name>
    <js-module name="cordova-plugin-yidun-alive-detect" src="www/cordova-plugin-yidun-alive-detect.js">
        <clobbers target="window.YidunAliveDetect" />
    </js-module>
    
    <platform name="ios">
      <config-file target="config.xml" parent="/*">
        <feature name="NTESLiveCameraImage">
          <param name="ios-package" value="NTESLiveCameraImage" onload="true" />
        </feature>
      </config-file>

      <header-file src="src/ios/NTESLiveCameraImage.h" />
      <source-file src="src/ios/NTESLiveCameraImage.mm" />
      <podspec>
         <config>
           <source url="https://github.com/CocoaPods/Specs.git"/>
         </config>
         <pods>
           <pod name="NTESLiveDetect" />
         </pods>
       </podspec>
    </platform>
</plugin>
